# Built files
/build
/app/build

# Gradle
.gradle
local.properties

# Android Studio
.idea
*.iml
.DS_Store

# Keystore
*.jks
*.keystore

# Logs
*.log

# Crashlytics
crashlytics-build.properties

# Kotlin
.kotlin